:root {
  --dark-background: #252934;
  --darker-background: #1b242f;
  --light-background: #ffffff;
  --highlight-color: #db1c52;
  --element-color: #66b2ff;
  --transparent-gray: rgba(255, 255, 255, 0.3);
  --offwhite-background: #dbdbdb;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
